# minimum mapping quality (default=40)
min_mapq=40

# input bam file
bam_file=example/example_chr21.bam

# output directory (default=.)
outdir=example

# list of intervals not to be intcluded in analysis (default=None)
blacklist=example/example_blacklist.bed

# list in BEDPE format of novel adjacencies to be scored by NAIBR (default=None)
candidates=example/example_candidates.bedpe

# maximum distance between read-pairs in a linked-read (default=10000)
d=10000

# minimum size of structural variant (default=lmax)
min_sv=1000

# number of cores (default=1)
cores=1

# minimum number of barcode overlaps supporting a candidate NA (default = 3)
k=3